@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#h1 {
    margin-top: 24px;
    text-align: center;
    font-size: 64px;
    font-family: lato;
    font-weight: 800;
    color: rgba(142, 38, 192, 1);
}

#cproperty {
    width: 565px;
    height: Hug(86px);
    margin-left: 32px;
    margin-top: 29px;
}

#chance {
    font-size: 32px;
    font-weight: 400;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    gap: 10px;
    background-color: rgba(255, 232, 232, 1);
    font-family: Lato;
    color: rgba(255, 0, 0, 1);
}

#eproperty {
    width: 1023px;
    height: Hug(144px);
    top: 255px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    margin-top: 32px;
    margin-left: 32px;
}

#exclusive {
    width: 943px;
    height: 96px;
    font-size: 40px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
    color: rgba(133, 100, 123, 1);
    padding: 24px 40px;
    gap: 10px;
    border-top: 2px solid rgba(0, 199, 110, 1);
    border-right: 6px solid rgba(0, 85, 255, 1);
    border-bottom: 2px solid rgba(127, 86, 217, 1);
    border-left: 4px solid rgba(193, 21, 116, 1);
}

#dproperty {
    width: Fixed (1, 023px)px;
    height: Hug (133px)px;
    top: 443px;
    left: 32px;
    gap: 10px;
    opacity: 0px;
    margin-left: 32px;
    margin-top: 68px;

}

#discount {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: Lato;
    width: 943px;
    height: 85px;
    padding: 24px 40px 24px 40px;
    background-color: rgba(255, 232, 232, 1);
    color: #414651;
    font-family: Lato;
    line-height: 38.4px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

#span {
    color: #ff4405;
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
}

#oproperty {
    width: 989px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    margin-top: 36px;
    margin-left: 32px;
}

#opportunity {
    font-family: Lato;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 100, 206, 1);
    width: Fixed (1, 069px)px;
    height: Hug (86px)px;
    top: 612px;
    left: 32px;
    padding: 24px 40px 24px 40px;
    gap: 10px;
    border: 2px solid rgba(53, 56, 205, 1);
    opacity: 0px;
}

#image {
    width: 556px;
    height: 347px;
    top: 774px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    margin-left: 16px;
    margin-top: 76px;
}